body {
  background-color: #0f1117;
  color: #c6c8d1;
}

div, .top {
  background-color: #161821;
}

a {
  color: #84a0c6;
}

h3 {
  color: #e2a478;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: medium;
  margin: 0px;
}

nav {
  font-family: 'Fira Code', 'Source Code Pro', 'DejaVu Sans Mono', monospace;
  font-size: large;
}

main {
  margin: 0px 5%;
  margin-top: 80px;
}

footer {
  font-family: 'Fira Code', 'Source Code Pro', 'DejaVu Sans Mono', monospace;
  font-size: small;
  text-align: center;
  height: 50px;
  margin-top: 20px;
}

.project {
  border-radius: 10px;
  padding: 0px 1%;
}

.top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: auto;
}

.row {
  display: flex;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.column {
  padding: 5px;
  text-align: center;
}

img {
  max-width: 600px;
  width: 120px;
  height: auto;
}

a {
  background-color: transparent;
  text-decoration: none;
}